[submodule "thirdParty/spdlog"]
	path = thirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdParty/googletest"]
	path = thirdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdParty/llhttp"]
	path = thirdParty/llhttp
	url = https://github.com/nodejs/llhttp.git
[submodule "thirdParty/c-ares"]
	path = thirdParty/c-ares
	url = https://www.github.com/c-ares/c-ares.git
